{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
   <h1 class="bg-light text-dark"> {{ module.title }} </h1>
    <div class="row">
        <div class="col-md-4 bg-dark text-white">
            <ul class="list-group bg-dark text-white">
                  {% for m in object.modules.all %}
                       <li data-id ="{{ m.id }}" {% if m == module %}
                           class = "selected"
                       {% endif %} class="list-group-item">
                           <a href=" {% url 'student_course_detail_module' %} ">
                               <span>
                                   Module <span class="badge badge-secondary">  </span>
                               </span>
                               <br>
                               {{ m.title }}
                           </a>
                       </li>
                  {% empty  %}
                      <li>No modules yet</li>
                  {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            {% for content in module.contents.all %}
                  {% with item=content.item  %}
                        <h2>{{ item.title }}</h2>
                        {{ item.render }}
                  {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}